body {
  background-color: #ffe6f4;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 2000px; /* Increase this to make the image larger */
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #22222c;
  font-size: 36px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
}

